//
//  {{ cookiecutter.project_name }}-UITests-Staging.xcconfig
//  {{ cookiecutter.project_name | replace(' ', '') }}
//
//  Created by {{ cookiecutter.lead_dev }} on {{ cookiecutter.date }}.
//  Copyright © {{ cookiecutter.year }} {{ cookiecutter.company_name }}. All rights reserved.
//

#include "{{ cookiecutter.project_name }}UITests-Shared.xcconfig"
#include "Environment-Staging.xcconfig"
