//
//  {{ cookiecutter.project_name }}-Tests-Development.xcconfig
//  {{ cookiecutter.project_name | replace(' ', '') }}
//
//  Created by {{ cookiecutter.lead_dev }} on {{ cookiecutter.date }}.
//  Copyright © {{ cookiecutter.year }} {{ cookiecutter.company_name }}. All rights reserved.
//

#include "{{ cookiecutter.project_name }}Tests-Shared.xcconfig"
#include "Environment-Development.xcconfig"
